.orgUnitContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.treeWrapper {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}

.levelWrapper {
  flex: 0 0 auto;
  background-color: white;
  padding-top: 1rem;
  border-top: 1px solid #e0e0e0;
}

.error {
  color: red;
  font-weight: 500;
  border: 1px solid red;
  padding: 1rem;
}
