.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
  padding-block-end: 8px;
  margin-inline: 8px;
}

.radioGroup {
  display: flex;
  gap: 16px;
}

.customConfigurator {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.tabBarWrapper {
  flex: 0 0 auto;
}

.tabContent {
  flex: 1;
  min-height: 0;
  overflow: auto;
  padding-top: 1rem;
}

.spacer {
  flex: 1;
}

.saveError {
  color: red;
}
